$nul: 0;

// @import 'main' ;

.logo {
    position: relative;
    &-picture {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 1rem;
        margin-left: -15px;
        margin-right: 15px;

        img {
            width: 40px;
            top: -1rem;
            position: absolute;
            // object-fit: cover;
        }
    }
}

.main {
    position: relative;
    width: 100%;
    min-height: 500px;
    > section {
        position: relative;
        left: 0;
        width: 100%;
    }
}

.leave {
    // position: absolute !important;
    animation: leave 0.5s ease-in;
}
.comeIn {
    // position: absolute !important;
    animation: comeIn 1s ease-out;
}
@keyframes leave {
    to {
        left: -25%;
        opacity: 0;
    }
}
@keyframes comeIn {
    0% {
        left: 25%;
        opacity: 0;
    }
    50% {
        left: 25%;
        opacity: 0;
    }
    to {
        left: 0;
    }
}

// News
.news-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    gap: 2rem;

    > article {
        grid-area: auto;
        @media (min-width: 600px) {
            &:nth-of-type(1) {
                grid-area: span 1 / span 2;
            }
        }

        .new-link{
            text-decoration: none;
            color: inherit;
            transition: 0.5s ease-in;
            &:hover{
                top: -10px;
                
            }
        }
        .article-media{
            float: left;
        }
    }

    img {
        height: 100px;
    }
}

.awards-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    gap: 1rem;

    > article {
        grid-area: auto;
        @media (min-width: 600px) {
            &:nth-of-type(1) {
                grid-area: span 2 / span 2;
            }
        }
    }
    img {
        width: 100%;
    }
}

.book {
    position: relative;
    width: 100%;
 &-rss{
     text-decoration: none;
 }
    &-header {
        ul {
            margin: 0;
        }
    }
    &-title {
        font-size: small;
        margin: 0;
    }
    .tag {
        font-size: x-small;
    }
    &-picture {
        position: relative;
    }
    &-main,
    &-footer {
        display: none;
    }

    img {
        object-fit: contain;
        left: 50%;
        top: 50%;
    }

    @media (min-width: 400px) {
        &-title,
        .tag {
            font-size: xx-small;
            margin: 0;
        }
    }

    .btn-zoom {
        border: none;
        background-color: unset;
        &:focus {
            outline: none;
            outline-color: transparent !important;
            box-shadow: 2px 0 10px rgb(161, 161, 192);
        }
        &:focus-within {
            position: fixed;
            z-index: 1000;
            top: 0%;
            left: 0;
            width: 80vw;
            height: 70vh;
            padding: 1rem;
            margin: 8% auto;
            border-radius: 10px;
            overflow-y: scroll;
            background-color: #fff;
            box-shadow: 2px 0 10px rgb(161, 161, 192);

            @media (min-width: 400px) {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(250px, 50%));

                
            }

            .book {
                &-main,
                &-footer {
                    display: block;
                    padding: 1rem;
                }
                &-picture {
                    grid-area: span 2 / span 1;
                    position: relative;
                    height: 60vh;
                    img {
                        // height: 100%;
                        outline: none;
                        position: relative;
                        top: 0;
                        left: 0;
                        height: 100%;
                        // transform: translate(-50%, -50%);
                    }
                }
                &-main {
                }
            }
        }
    }
}
