<section class="home-js">
    <section class="jumbotron jumbotron-fluid py-4 bg-secondary text-light">
        <div class="container">
            <p class="display-3">Les inscriptions sont ouvert !</p>
            <p class="lead">Chez futurs jurys et auteurs</p>
            <hr class="my-2">
            <p>Vous avez du JJ-mmmm au JJ-mmmm pour y participer </p>
            <p class="lead text-right">
                <a class="btn btn-primary btn-lg" href="inscription" role="button">Inscription</a>
            </p>
        </div>
    </section>

    <section class="home-new container py-4">
        <p class="h2">
            News
        </p>
        <main class="articles">
            <!-- injection -->
            <news class="data-js news-grid" data-componant="news" data-count="5">

            </news>
            <a class="btn btn-outline-primary btn-lg " href="news" role="button">Aller aux news</a>
        </main>
    </section>

</section>
